.header
  .icon
    <i class="fas fa-arrow-alt-circle-up"></i>
  .btn
    .edit
      <i class="fas fa-clipboard"></i>
    .show_pic
      <i class="fas fa-film"></i>
    .logout
      <i class="fas fa-sign-out-alt"></i>
