.header
  .icon
    KaradaMaker

  .site-nav
    %ul.site-nav__social
      %li.site-nav__social__twitter
        = link_to 'twitter', 'https://twitter.com/s8n_ta24/', target: ["_blank"] 
      %li.site-nav__social__instagram
        = link_to 'instagram', 'https://www.instagram.com/son_ta2/', target: ["_blank"] 

