.side 
  .myself
    PROFIEL
    .name
      名前：Taniguchi
    .birthday
      誕生日：1996/08/24
    .height
      身長：１７０cm
    .weight
      体重：７０kg
    .bmi
      BMI：24.22
    .edit_myself
      <i class="fas fa-bars"></i>