.header {
  height: 80px;
  width: 100vw;
  background-color: rgb(255, 154, 154);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1840px;
  padding: 0 75px 0 35px;

  .icon{
    line-height: 80px;
    width: 80px;
    text-align: center;
    font-size: 29px;
  }

  .menu{
    text-align: center;
    line-height: 80px;
    display: flex;
    margin-left: 130px;
    .item1{
      margin: 0 10px;
    }
    .item2{
      margin: 0 10px;

    }
    .item3{
      margin: 0 10px;

    }
  }
  .header-link{
    display: flex;
    font-size: 8px;
    line-height: 90px;
    margin-left: 20px;

  }
  .site-nav{

    &__social {
      display: flex;
      font-size: 18px;
      line-height: 80px;

      &__twitter{
        color: rgb(80, 192, 200);//非対応のブラウザでの文字色を設定
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 20px;
        cursor: pointer;
  
      }
      &__instagram{
        color: #C850C0;//非対応のブラウザでの文字色を設定
        background: -webkit-linear-gradient(0deg, #4158D0, #C850C0, #FFCC70);//背景色にグラデーションを指定
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 20px;
        cursor: pointer;
    
      }
    }
  }
}