.main {
  background-color: rgb(170, 231, 170);
  width: calc(100% - 300px);
  padding: 35px 30px;
  .menus{

  
    .menu1{
      background-color:  rgb(99, 228, 99);
      height: 185px;
      width: 100%;
      margin-bottom: 25px;
      padding: 10px;
    }

    .menu2{
      background-color:  rgb(99, 228, 99);
      height: 185px;
      width: 100%;
      margin-bottom: 25px;
      padding: 10px;
    }
    .menu3{
      background-color:  rgb(99, 228, 99);
      height: 185px;
      width: 100%;
      margin-bottom: 25px;
      padding: 10px;
    }
    .menu4{
      background-color:  rgb(99, 228, 99);
      height: 185px;
      width: 100%;
      margin-bottom: 25px;
      padding: 10px;
    }


  }


}


