.side {
  background-color: rgb(151, 238, 231);
  width: 390px;
  padding: 14px;
  .myself{
    background-color: rgb(203, 240, 237);
    padding: 10px 20px ;
    position: relative;

    .height1{

    }
    .weight{

    }
    .bmi{

    }
    .edit_myself{
      float: right;
      position: absolute;
      bottom: 0px;
      right: 10px;
      cursor: pointer;
    }

  }     































  
}
